<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

<head>

    <title>Homework.Guru | Ask A Homework Question</title>
    <% include ../partials/head.ejs %>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
     <% include ../partials/nav.ejs %>

      <header>
         <div class="container">
            <div class="intro-text" style="padding-top: 0px; padding-bottom: 100px;">
                
            </div>
        </div>
    </header>


      <section id="services" style="padding:40px 0px 10px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Thousands of textbooks, always $1 a question.</h2>
                    <h3 class="section-subheading text-muted">Guaranteed delivery in 24 hours.</h3>
                </div>
            </div>
          </div>
      </section>

      <section id="services" style="padding:10px 0px;">
        <div class="container">
            <div class="row" >
              <ol>
                <li>Submit your question to us. We'll authorize a payment of $1 via paypal, but we'll only charge you when we send you your answer.</li>
                <li>We'll get your answer to you within 24 hours.</li>
                <li>Once we find your answer, we will email it to you and charge you $1 via paypal. If we can't find it we won't charge you anything.</li>
              </ol>
            </div>
          </div>
    </section>

<section id="contact" style="background-color:#fff" style="padding:10px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" method="post" action="/submit_question" novalidate>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label for="question">Email:</label> This is the email we will send your answer to.</br>
                                    <input type="text" class="form-control" placeholder="Your email *" id="email" name="email" required data-validation-required-message="Please enter your email.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                   <label for="question">Question</label></br>
                                    <textarea class="form-control" placeholder="Your question *" id="question" name="question" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                
                                <div class="form-group">
                                   <label for="question"> <input type="checkbox"> I have read and agree to Homework.Guru's <a href="/termsofuse">terms of use</a>.</label></br>
                                     
                                    <p class="help-block text-danger"></p>
                                </div>
                                
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Go to billing</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% include ../partials/footer.ejs %>

</body>

</html>
