<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

<head>

    <title>How It Works | Homework.Guru | Homework Solutions and Answers</title>
    <% include ../partials/head.ejs %>
    
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
     <% include ../partials/nav.ejs %>

      <header>
         <div class="container">
            <div class="intro-text" style="padding-top: 0px; padding-bottom: 100px;">
                
            </div>
        </div>
    </header>

      
 <section id="services">
  <div class="container">
  
  <h1>How it works</h1>
  
      <ol>
        <li>Submit your question to us. We'll authorize a payment of $1 via paypal, but we'll only charge you when we send you your answer. We make you authroize a payment through paypal to ensure that when we find your answer we can charge you $1.</li>
        <li>We'll get your answer to you within 24 hours. If we fail to find your answer after a day, we'll send you an email telling you and we won't charge you anything.</li>
        <li>Once we find your answer, we will email it to you and charge you $1 via paypal.</li>
      </ol> 

Ready to get started? <a href="/go">Ask a question.</a><br>

More questions? Check out our <a href="/faq">FAQ</a> section.


</div>
</section>
    <% include ../partials/footer.ejs %>

</body>

</html>
