<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

<head>

    <title>Homework.Guru | Homework Solutions and Answers</title>
    <% include ../partials/head.ejs %>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
     <% include ../partials/nav.ejs %>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Homework Help Without the Monthly Fees</div>
                <div class="intro-heading">Search no further</div>
                <a href="/go" class="page-scroll btn btn-xl">Ask A Question</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Homework help on any budget</h2>
                    <h3 class="section-subheading text-muted">We can answer questions for $1 each</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Guaranteed Delivery</h4>
                    <p class="text-muted">We guarantee an answer within 24 hours</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">10,000+ Textbook Answers</h4>
                    <p class="text-muted">We have archives of virtually every textbook used in America, plus ones used for online homework like Quest.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pay As You Go</h4>
                    <p class="text-muted">We know that what you really want is help with a few questions every once in a while. No monthly commitments</p>
                </div>
            </div>
        </div>
    </section>


    <% include ../partials/footer.ejs %>

</body>

</html>
