<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Homework Guru Admin Panel</title>
	<% include ../partials/head.ejs %>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Welcome, <%= user.username %></h1><br>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<p><b><%= total %></b> questions total</p>
	<p><b><%= past %></b> submitted in the past day</p>
	<p><b><%= soon %></b> expring in 12 hours</p>
	<p><b><%= now %></b> ready to be answered now</p>

<% if(question == undefined){ %>
<hr>
There are no more questions to answer! Good job, <%= user.username %>.
<% } else { %>

	<div class="row">

		<!-- LOCAL INFORMATION -->
			<div class="well">
				<h3><%= question.email %></h3>

					<p>
						<strong>Question</strong>: <%= question.question %><br>
						<strong>Work</strong>: <%= question.work %><br>
						<strong>Expires</strong>: in <%= Math.floor(question.diff) %> hours <%= Math.floor((question.diff % 1)*60) %> minutes <%= Math.floor(((question.diff % 1)*60)%1*60) %> seconds
					</p>

			</div>

		<form method="post" action="/submit_answer?id=<%= question.id %>&email=<%= question.email %>">  
          <div class="form-group">
            <label for="question">Answer</label></br>
            <textarea id="answer" name="answer" cols="50" rows="10"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Answer</button>
        </form><br><br>
		
<a href="/submit_refund?email=<%= question.email %>&id=<%= question.paymentID %>"><button class="btn btn-warning">Can't Solve</button></a>

	</div>
<% } %>
</div>
<footer><hr>Homework.Guru</footer>
</body>
</html>
