<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

<head>

    <title>Homework Guru | Success!</title>
    <% include ../partials/head.ejs %>
    
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
     <% include ../partials/nav.ejs %>

      <header>
         <div class="container">
            <div class="intro-text" style="padding-top: 0px; padding-bottom: 100px;">
                
            </div>
        </div>
    </header>

      
 <section id="services">
  <div class="container">
  
  <h1>Thank you for submitting a question</h1>
  
We will have an answer to you in 24 hours or we will issue you a refund. <a href="/go">Ask another questions</a>

</div>
</section>
    <% include ../partials/footer.ejs %>

</body>

</html>
