<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

<head>

    <title>Homework Guru | Success!</title>
    <% include ../partials/head.ejs %>
    
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
     <% include ../partials/nav.ejs %>

      <header>
         <div class="container">
            <div class="intro-text" style="padding-top: 0px; padding-bottom: 100px;">
                
            </div>
        </div>
    </header>

      
 <section id="services">
  <div class="container">
  
  <h1>Terms of Service ("Terms")</h1>
<p>Last updated: July 26, 2015</p>

<p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://www.homework.guru website (the "Service") operated by Homework.Guru ("us", "we", or "our").</p>

<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>


<p><strong>Your License to Use Site Content</strong></p>

<p>Subject to your compliance with these Terms of Use, Homework.Guru grants you a limited, personal, non-exclusive, non-commercial, revocable and non-transferable license to view the Homework.Guru Content. You may only use the Services for your own personal use. You agree not to view, copy, or procure content or information from the Services by automated means (such as scripts, bots, spiders, crawlers, or scrapers), or to use other data mining technology or processes to frame, mask, extract data or other materials from the Homework.Guru Content (except as may be a result of standard search engine or Internet browser usage), unless formally authorized by Homework.Guru under separate written agreement. No materials from the Services may be copied, reproduced, modified, republished, downloaded, uploaded, posted, transmitted, or distributed in any form or by any means without Homework.Guru's prior written permission or as expressly provided in these Terms of Use. When you download or use the Homework.Guru Content as authorized by these Terms of Use, you must: (a) keep intact all copyright and other proprietary notices; (b) make no modifications to the Homework.Guru Content; and (c) not copy or adapt any object code associated with the Services or reverse engineer, modify or attempt to discover any source code associated with the Services, nor allow or assist any third party (whether or not for your benefit) to do so. All rights not expressly granted herein are reserved. Where you purchase a subscription or a license to access any Homework.Guru Content, you may not share that subscription or license with others. Homework.Guru may impose reasonable limits on your scope of access to Homework.Guru Content, including limits on time or number of materials accessed or machines used to access such Content, to prevent unauthorized third party access to or use of that Content.</p>

<p><strong>Termination</strong></p>

<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>


<p><strong>Governing Law</strong></p>

<p>These Terms shall be governed and construed in accordance with the laws of United States, without regard to its conflict of law provisions.</p>

<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

<p><strong>Changes</strong></p>

<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>   
<p><strong>Contact Us</strong></p>

<p>If you have any questions about these Terms, please contact us.</p>

</div>
</section>
    <% include ../partials/footer.ejs %>

</body>

</html>
